@using Protection_Animal.Utility
@model Protection_Animal.Model.Entities.Animal

@{
    ViewData["Title"] = "Details";
}

@*<h1>Details</h1>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(@Model.Description)
        </dd>
        <dt class="col-sm-2">
            Uploaded Image
        </dt>
        <dd class="col-sm-10">
            <img src="@(Protection_Animal.Utility.WebConstants.ImagePath + @Model.Image)"
            asp-append-version = "true" width="250px" height="250px" />
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole(WebConstants.Admin))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
 
    }
    
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>*@

<div class="">
    <form method="post">
        <input asp-for="@Model.Id" hidden />
        <div class="container backgroundWhite pt-4">
            <div class="card" style="border:1px solid #000000; ">
                <div class="card-header bg-dark text-light ml-0 row container" style="border-radius: 0px;">
                    <div class="col-12 col-md-6">
                        <h1 class="text-white">@Model.Name</h1>
                    </div>

                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-4 p-1 text-center">
                                <img src="@("~/images/" + Model.Image)" asp-append-version="true" width="100%" class="rounded" />
                            </div>
                            <div class="col-12 col-lg-8">
                                <div class="row pl-3">

                                    <div class="col-12">
                                        <span class="badge p-3 border text-dark" style="background-color:lavenderblush">@Model.Name</span>
                                        
                                        <h3 class="text-success"></h3>

                                        <p class="text-secondary">@Html.Raw(Model.Description) </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-dark">
                    <div class="row">
                        <div class="col-12 col-md-6 pb-1 ">

                            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-info btn-square form-control btn-lg" style="height:50px;">Edit</a>
                        </div>
                        <div class="col-12 col-md-6 pb-1 ">
                            <a asp-action="Index" class="btn btn-success btn-square form-control btn-lg" style="height:50px;">Back to List</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

