@model Protection_Animal.Model.Entities.Application

@using Animal_Protection.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@using Protection_Animal.Utility

@inject SignInManager<AnimalProtectionUser> SignInManager
@inject UserManager<AnimalProtectionUser> UserManager

@{
    ViewData["Title"] = "Details";
}


<div class="">
    <form method="post">
        <input asp-for="@Model.Id" hidden />
        <div class="container backgroundWhite pt-4">
            <div class="card" style="border:1px solid #000000; ">
                <div class="card-header bg-dark text-light ml-0 row container" style="border-radius: 0px;">
                    <div class="col-12 col-md-6">
                        <h1 class="text-white">@Model.Name</h1>
                    </div>
                   
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-4 p-1 text-center">
                                <img src="@("~/images/" + Model.Image)" asp-append-version="true" width="100%" class="rounded"/>
                            </div>
                            <div class="col-12 col-lg-8">
                                <div class="row pl-3">

                                    <div class="col-12">
                                      <h5> <span class="badge p-3 border text-dark" style="background-color:lavenderblush">@Model.Category.Name</span>
                                        <span class="badge p-3 border text-dark" style="background-color:lavenderblush"> <a asp-controller="Clients" asp-action="Details" asp-route-id="@Model.SenderId">@Html.DisplayFor(model => model.Sender.Name)</a></span>
                                        <span class="badge p-3 border text-dark" style="background-color:lavenderblush"> <a asp-controller="Animal" asp-action="Details" asp-route-id="@Model.AnimalId">@Html.DisplayFor(model => model.Animal.Name)</a></span>
                                        <span class="badge p-3 border text-dark" style="background-color:lavenderblush">@Model.DateCreate.ToLongDateString()</span></h5>
                                        <h3 class="text-success"></h3>

                                        <p class="text-secondary">@Html.Raw(Model.Description) </p>

                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-dark">
                    <div class="row">
                        <div class="col-12 col-md-6 pb-1 ">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-success btn-square form-control btn-lg" style="height:50px;">
                                <i class="fas fa-sign-out-alt"></i> &nbsp; Back
                            </a>
                        </div>
                        <div class="col-12 col-md-6 pb-1 ">
                            @if (User.IsInRole(WebConstants.User) || User.IsInRole(WebConstants.Admin))
                            {
                                AnimalProtectionUser applicationUser = (AnimalProtectionUser)await UserManager.GetUserAsync(User);
                                string userId = applicationUser.Id;
                                if (SignInManager.IsSignedIn(User))
                                {
                                    if (userId == Model.Sender.Id)
                                    {
                                        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-info btn-square form-control btn-lg" style="height:50px;">Edit</a>
                                    }
                                }
                            }
                        </div>
                        
                       
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
