@model IEnumerable<Protection_Animal.Model.Entities.Application>

@using Animal_Protection.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@using Protection_Animal.Utility

@inject SignInManager<AnimalProtectionUser> SignInManager
@inject UserManager<AnimalProtectionUser> UserManager

@{
    ViewData["Title"] = "Index";
}



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">All Applications</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Create New Application
            </a>
        </div>
    </div>

    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ShortDesciption)
                        </th>
                        
                        <th>
                            @Html.DisplayNameFor(model => model.DateCreate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Animal)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var obj in Model)
                {
                            <tr>
                                <td width="25%">@obj.Name</td>
                                <td width="25%">@obj.ShortDesciption</td>
                                <td width="30%">@obj.DateCreate.ToLongDateString()</td>
                                <td width="50%">@obj.IsActive</td>
                                <td width="50%">@obj.Category.Name</td>
                                <td width="50%">@obj.Sender.Name</td>
                                <td width="50%">@obj.Animal.Name</td>
                                <td class="text-left">
                                    <div class="w-50 btn-group" role="group">
                                        <a asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary mx-2">
                                            Edit
                                        </a>
                                        <a asp-route-Id="@obj.Id" asp-action="Details" class="btn btn-info mx-2">
                                            Details
                                        </a>
                                    </div>
                                </td>
                            </tr>
                }
                </tbody>
            </table>
    }
    else
    {
            <p> No Ccategory.</p>
    }

</div>