@model IEnumerable<Protection_Animal.Model.Entities.Application>

@using Animal_Protection.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@using Protection_Animal.Utility

@inject SignInManager<AnimalProtectionUser> SignInManager
@inject UserManager<AnimalProtectionUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Applications</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDesciption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDesciption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.DateCreate.ToLongDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sender.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.Name)
                </td>
                <td>
                    @if (User.IsInRole(WebConstants.User) || User.IsInRole(WebConstants.Admin))
                    {
                        AnimalProtectionUser applicationUser = (AnimalProtectionUser)await UserManager.GetUserAsync(User);
                        string userId = applicationUser.Id;
                        if (SignInManager.IsSignedIn(User))
                        {
                            if (userId == item.Sender.Id)
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            }
                        }
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
